extends layouts/main-layout.pug 

block title 
    title #{shop}
block style
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")

block content 
    main 
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="https://i2.wp.com/www.skiptomylou.org/wp-content/uploads/2022/12/how-to-draw-a-book-6.jpg",alt="A Book")
                        
                        div.card__content
                            h2.product__price $19.99
                            p.product__description A very interesting book about so many even more interesting things!
            
                        div.card__actions
                            button.btn Add to Card
        else
            h1 No Products
